@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* colors */
    --grey-50: #656266;
    --grey-100: #616161;
    --grey-g-100: #B5B5B5;
    --grey-200: #322F33;
    --grey-g-200: #303030;
    --grey-300: #1C181D;

    --font-light-1: #E3E3E3;
    --font-light-2: #F6F3F6;
    --font-mid: #616161;
    --font-dark-1: #475467;
    --font-dark-2: #323232;

    --stroke-s-50: #DBDBDB;
    --stroke-s-100: #E1E1E1;
    --stroke-s-200: #616161;
    --stroke-light-100: rgba(255, 255, 255, 0.20);

    --state-hover: #F7F7F7;
    --state-pressed: #F0F0F0;
    --state-focused: #005BD3;

    --plain-white: #FFFFFF;
    --plain-background-1: #F1F1F1;
    --plain-background-2: #404040;
    --color-scales-gray-16: #1A1A1A;
    --Background: #F1F1F1;

    /* font sizes */
    --font-primary: 13px;
    --font-btn-primary: 12px;
    --font-W-1: 600;
    --line-h-1: 15.6px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    background: var(--Background);
    position: relative;
}

li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    outline: none;
}

.btn {
    font-size: var(--font-btn-primary);
    font-style: normal;
    font-weight: var(--font-W-1);
    line-height: var(--line-h-1);
    cursor: pointer;
}

.btn-1 {
    color: var(--font-light-2);
    padding: 6px 12px;
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100);
    border-right: 1.5px solid var(--stroke-light-100);
    border-left: 1.5px solid var(--stroke-light-100);
    background: var(--plain-background-2);
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
}

.btn-1:hover {
    background: #2A2A2A;
}

.btn-1:active {
    background: #2B2B2B;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.btn-1:focus {
    outline: transparent;
    border-top: 1.5px solid var(--stroke-light-100);
    border-right: 1.5px solid var(--stroke-light-100);
    border-left: 1.5px solid var(--stroke-light-100);
    background: #404040;
    box-shadow: 0px 0px 0px 5px #005BD3, 0px 0px 0px 3px #FFF, 0px 0px 0px 1.5px #333;
}

.btn-2 {
    color: var(--font-dark-2);
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--plain-white);
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
}

.btn-2:hover {
    background: #F7F7F7;
}

.btn-2:active {
    background: #F7F7F7;
    box-shadow: 0px 2px 1.5px 0px #E2E2E2 inset;
}

.btn-2:focus {
    outline: transparent;
    background: var(--White, #FFF);
    box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #FFF, 0px -1px 0px 0px #B5B5B5 inset;
}

.btn-3 {
    color: var(--font-dark-2);
    outline: none;
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 6px;
}

.btn-3:hover {
    background: #E7E7E7;
}

.btn-3:active {
    background: #E0E0E0;
}

.btn-3:focus {
    outline: transparent;
    border: 2px solid var(--states-focused, #005BD3);
    background: var(--plain-white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background: var(--color-scales-gray-16);    
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

nav .logo-area a:active, nav .logo-area a:focus {
    border: 1px solid var(--state-focused) !important;

}

nav .search_input {
    display: flex;
    height: 32px;
    width: 238px;
    align-items: center;
    /* gap: 6px; */
    border-radius: 8px;
    border: 1px solid var(--stroke-s-200);
    background: var(--grey-200);
    padding: 10px 0;
    font-size: 16px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input-container {
    display: flex;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
}

.search-icon {
    padding: 10px;
    /* background-color: #4CAF50; */
    /* color: #fff; */
    border: none;
    cursor: pointer;
}

.search-icon svg {
    /* fill: #fff; */
}

/* Focus and Active States */
.search-input-container:focus-within {
    border: 2px solid var(--plain-white);
}

.search-icon:active {
    background-color: 2px solid var(--plain-white);
}

nav .search-input-container:hover {
    border: 1px solid var(--stroke-s-100);
}

nav .search-input-container:active {
    border: 2px solid var(--state-focused);
}

nav .search-input-container:focus-within {
    border: 2px solid var(--state-focused);
}

/* nav .search_input:active {
    border: 2px solid var(--state-focused);
}

nav .search_input:focus {
    border: 2px solid var(--state-focused);
} */

nav .search_input input {
    width: 238px;
    background: #322F33;
    color: var(--font-light);
    border: none;
    outline: none;

    color: var(--grey-g-100);
    font-size: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    line-height: 18.2px;
}

nav .search_input input::placeholder {
    color: var(--grey-g-100);
}

nav .search_input svg {
}

nav .user-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #bell svg:hover {
    /* border: 1px solid #005BD3; */
    background: var(--grey-100);
}

nav #bell svg:active {
    background: var(--grey-50);
    outline: 2px solid #005BD3;
    outline-offset: 2px;
}

nav #bell svg:focus {
    background: var(--grey-50);
    outline: 2px solid #005BD3;
    outline-offset: 2px;
}

nav .user {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grey-g-200);
    border-radius: 8px;
    padding: 2px;
    margin-left: 8px;
    align-self: flex-end;
}

nav .user:hover {
    background: var(--grey-100);
}

nav .user:active {
    background: var(--grey-50);
}

nav .user:focus {
    background: var(--grey-50);
    box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #000;
}

nav .user .username-initials {
    color: rgba(0, 0, 0, 0.40);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;    
    border-radius: 6px;
    background: #36FBA1;
    display: flex;
    height: 28px;
    padding: 9px 5px 10px 5px;
    justify-content: center;
    align-items: center;
}

nav .user .username {
    padding-right: 12px;
    display: none;
    align-items: center;
    height: 28px;
    margin-left: 0;
    color: var(--font-light-1);
    font-size: 12px;
    font-weight: 500;
}

.logo-2 {
    display: none;
}

/* trial-extension */
.trial-extension {
    background: var(--color-scales-gray-16);
    padding: 12px 8px 12px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.trial-extension span {
    color: var(--font-light-1);
    font-size: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    line-height: 18.2px;
    gap: 8px;
}

.trial-extension span a {
    /* margin-top: 16px; */
    background: var(--plain-white);
    text-decoration: none;
}

.trial-extension div {
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.trial-extension div #cancelSvg {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trial-extension div button:focus {
    border: 2px solid #005BD3;
    /* outline-offset: 2px; */
}

.trial-extension div #cancelSvg:focus {
    outline: #005BD3;
    outline-offset: 2px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border: 1px solid red; */
}

button:focus {
    /* border: 1px solid blue; */
}

/* setup guide */
.setup-guide-container {
    background: var(--plain-white);
    padding: 8px;
    margin-top: 16px;
}

.setup-guide {
    display: flex;
    justify-content: space-between;
}

.setup-guide .setup-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    padding: 8px;
}

.setup-guide .setup-head .P1 {
    color: var(--grey-g-200);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.6px;
}

.setup-guide .setup-head .p2 {
    margin-top: 4px;
    color: var(--grey-g-200);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
    align-self: stretch;
}

.setup-guide .setup-head .horizontal-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--grey-g-200);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.6px;
}

.setup-guide .setup-head .horizontal-bar span {
    height: 4px;
    width: 72px;
    margin-left: 8px;
    background: var(--font-light-1);
    display: flex;
    justify-content: start;
    align-items: center;
}

.setup-guide .setup-head .horizontal-bar span::before {
    content: '';
    top: 0;
    left: 0;
    height: 4px;
    width: 18px;
    background: var(--color-scales-gray-16);
}

.setup-guide .setup-arrows button .arrow {
    width: 28px;
    height: 28px;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
    transition: border 0.3s ease;
    /* border: 2px solid #005BD3; */
}

.setup-guide .setup-arrows button .arrow:hover {
    background: #F1F1F1;
}

.setup-guide .setup-arrows button .arrow:active {
    background: #F0F0F0;
}

.setup-guide .setup-arrows button .arrow:focus {
    outline: #005BD3;
    outline-offset: 2px;
    /* border: 2px solid #005BD3; */
}

/* .setup-guide .setup-arrows button {
    border: 2px solid #005BD3;
}

.setup-guide .setup-arrows button:focus {
    border: 2px solid #005BD3;
} */

.setup-guide-container .steps {
    margin-top: 16px;
    /* padding: 8px; */

    display: none;
}

/* .step-display {
    display: none;
} */

.step-display-content {
    background: #F3F3F3;
    border-radius: 10px;
    padding: 2px 0;
    align-items: center;
    /* gap: 96px; */
    margin-bottom: 8px;
}

.setup-guide-container .steps .step {
    padding: 8px 8px 12px 8px;
}

.setup-guide-container .steps .step .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.setup-guide-container .steps .step .title svg {
    width: 24px;
    height: 24px;
}

.setup-guide-container .steps .step .title .check-btns .step-hover {
    display: none;
}

.setup-guide-container .steps .step .title span {
    color: var(--font-dark, #303030);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}

.setup-guide-container .steps .step .step-details {
    display: none;
    align-items: center;
    justify-content: space-between;
    /* margin: 8px 8px 12px 8px; */
}

.setup-guide-container .steps .step .step-details .details {
    /* margin-bottom: 0; */
    padding-left: 32px;
}

.setup-guide-container .steps .step .step-details img {
    display: none;
    background: #F3F3F3;
    /* border: 1px solid red; */
    
}

.setup-guide-container .steps .step .step-details .details a {
    text-decoration: none;
    color: var(--state-focused);
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
}

.setup-guide-container .steps .step .step-details .details p {
    color: var(--font-mid-2, #616161);
    font-size: 13px;
    font-weight: 500;
    line-height: 18.2px;
}

.setup-guide-container .steps .step .step-details .details button {
    margin-top: 16px;
    /* margin-bottom: 10px; */
}

.setup-guide-container .steps .step span {
    color: var(--grey-g-200);
    margin-left: 8px;
    font-size: 13px;
    font-weight: 500;
}

/* modals */
/* user modal */
.userModal {
    width: 320px;
    height: 384px;
    background: var(--plain-white);
    position: absolute;
    right: 15px;
    top: 65px;

    display: none;
    padding: 6px 0px;
    /* gap: 4px; */
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.userModal {
    display: none;
    padding: 6px 0px;
    /* gap: 4px; */
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.menu-active {
    display: block;
}
  
.userModal li {
    margin-inline: 6px;
    list-style: none;
}

.userModal li a {
    text-decoration: none;
}

.userModal .head {
    padding-inline: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px 4px 8px;
    border-radius: 8px;
    background: var(--plain-background-1);
}

.userModal .head .name {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.userModal .head .name span {
    width: 28px;
    height: 28px;
    border-radius: 5.25px;
    background: #36FBA1;
    display: flex;
    /* padding: 9.625px 5.875px 10.375px 6.125px; */
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.40);

    font-size: 10.5px;
    font-weight: 500;
    /* line-height: 14.7px; */
}

.userModal .head .name p {
    color: var(--grey-g-200);
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
}

.userModal .stores button {
    padding: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-block: 4px;
}

.userModal .stores svg {
    width: 20px;
    height: 20px;
}

.userModal .user-list-item {
    margin-block: 2px;
}

.userModal .user-list-item a {
    padding: 6px;
    color: var(--grey-g-200) !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    text-decoration: none;
}

.userModal .user-list-item.email, .userModal .user-list-item.manage-account {
    margin-block: 6px;
}

.userModal .user-list-item.email {
    /* padding: 8px; */
}

.userModal .user-list-item.email button {
    text-align: start;
}

.userModal .user-list-item.email span {
    color: var(--grey-g-100, var(--grey-100));
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
}

.userModal .user-list-item.logout {
    margin-block: 0;
}

.userModal .user-list-item:hover {
    border-radius: 8px;
    background: #F1F1F1;
}

.userModal .user-list-item:active {
    border-radius: 8px;
    background: #F0F0F0;
}

.userModal .user-list-item:focus {
    border-radius: 8px;
    border: 2px solid #005BD3;
}

a {
    text-decoration: none;
}

hr {
    border: none;
    height: 0.75px;
    color: var(--stroke-s-100);
    background: var(--stroke-s-100);
}

/* .userModal .body, .userModal .foot {
    padding: 6px;
} */

/* .userModal .foot .email {
    padding: 8px;
} */

/* .userModal .foot li a span {
    color: var(--grey-g-100, var(--grey-100));
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
} */

/* notification modal */
.notificationModal {
    width: 358px;
    height: 136px;
    background: var(--plain-white);
    position: absolute;
    right: 15px;
    top: 65px;
    padding: 16px;
    display: none;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.notificationModal .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    color: var(--grey-g-200);
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
}

.notificationModal .head span {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.notificationModal .head span svg {
    width: 20px;
    height: 20px;
}

.notificationModal .message {
    padding: 16px;
    background: var(--plain-background-1);
}

.notificationModal .message p {
    color: var(--grey-g-200);
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
}

@media only screen and (min-width: 767px) {
    nav .search_input {
      width: 480px;
    }

    nav .search_input input {
        width: 480px;
    }

    .trial-setup {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .trial-extension  {
        width: 800px;
        /* height: 56px; */
        margin-top: 32px;
        /* display: flex; */
        /* justify-content: start; */
        align-items: center;
        border-radius: 8px;
    }
    
    .trial-extension  span {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .trial-extension  span button {
        margin-top: 0;
        margin-right: 14px;
    }

    .setup-guide-container {
        width: 800px;
        border-radius: 18px;
        border: 1px solid var(--stroke-s-50);
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    }

    .logo-1 {
        display: none;
    }

    .logo-2 {
        display: block;
    }

    nav #bell svg {
        padding: 6px;
        color: var(--font-light);
        width: 32px;
        height: 32px;
        border-radius: 8px;
        background: var(--grey-g-200);
    }
    
    nav .user {
        padding: 2px 2px 2px 8px;
    }
    
    nav .user .username {
        display: flex;
    }

    .setup-guide-container .steps .step .step-details img {
        display: flex;
    }

    .setup-guide-container .steps .step .step-details .details p {
        display: flex;
        flex-direction: column;
    }


    /* notification modal */
    .notificationModal {
        width: 383px;
        height: 118px;

    width: 358px;
    height: 136px;
    }
}